
body {
  margin: 0;
  padding: 0;	
  /*background-color: #333333;*/
  background-color: #208c9e; 
  font-family: 'Lato', 'Open Sans',sans-serif;
/*  border: 1px solid yellow;*/
  width: 100%;
  height: 100vh;
}

#root {
	height: 100%;
	width: 100%;
/*	border: 4px solid blue;*/
    overflow-x: hidden;
}